*{
   /* border: 1px solid red;*/
    font-family: "Work Sans";
}
nav{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    height: 64px;
    background-color: white;
    color: black;
    z-index: 1;
    box-shadow: 0 2px 8px -3px rgba(0, 0, 0, 0.1);
 }

nav .icons{
    font-size: 32px;
    width: 0;
    margin: 0 24px;
    height: 64px;
    display: none;
    align-items: center;
    justify-content: space-between;
    
}

nav .icons img{
    height: 30px;
}

nav .mobile-icons{
    display: none;
}

nav .nav-title{
    display: flex;
    align-items: center;
    font-size: x-large;
    justify-content: flex-start;
    text-transform: uppercase;
    margin-left: 24px;
}

nav #Colmar{
    font-weight: bold;
}
.nav-links{
    display: inline-flex;
    align-items: center;
    margin-right: 24px;
}

.nav-links a{
    text-decoration: none;
    padding-left: 16px;
    font-size: 16px;
    color: black;
}

.container-1{
    display: flex;
    background-color: lightgrey;
    margin-bottom: 32px;
}

.container-1 img{
    width:60%;
    margin: 32px 24px;
}
.container-1 button{
    padding: 8px 0;
    height: 50px;
    border-radius: 5px;
    font-size: medium;
}
.container-1 .textbox-1 {
    display: flex; /* Use flexbox to create a flex container */
    flex-direction: column; /* Stack items in a column */
    text-align: left;
    padding-right: 10%;
    padding-bottom: 32px;
    justify-content: center;
    margin-left: 16px;
    color: rgb(74, 74, 74)

}

h1{
    margin: 0;
}

h3, h5{
    font-weight: normal;
    margin-top: 2em;
}

button {
    border: transparent;
    color: white;
    background-color: rgb(74, 74, 74);
    padding: 8px 0;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(101, 101, 101);
    cursor: pointer;
}
/* Second section*/

.container-2{
    display: flex;
    padding-bottom: 32px;
}

.container-2 .box-left{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 0 24px;
    color: rgb(74, 74, 74);
}
.container-2 .box-right {
    display: flex; /* Use flexbox to create a flex container */
    flex-direction: column; /* Stack items in a column */
   width: 40%;
    
}

.container-2 .box-right .mobile img{
    display: none;
}
.container-2 .box-right a{
    text-decoration: none;
    color: cornflowerblue;
}

.container-2 h5{
    display: flex;
    margin: 0;
}

.smallbox-1, .smallbox-2, .smallbox-3{
  padding: 0 16px;
  display: flex;
  color: rgb(74, 74, 74);
  border: 1px solid lightgrey;
}

.smallbox-1 .fullscreen img, .smallbox-2 .fullscreen img, .smallbox-3 .fullscreen img{
 width: 100%;
 height: auto;
 padding-right: 16px;
 padding-top: 16px;
 padding-bottom: 16px;
}

.smallbox-3{
    background-color: lightgrey;
}

.container-2 .text{
    
    width: 100%;
}

.container-2 h3{
    margin-left: 16px;
    font-weight: 550;
}

/* Section Three */
.section3{
    text-align: center;
    background-color: rgb(238, 236, 236);
    color:rgb(74, 74, 74);
    padding: 32px 0;
}

.container-row {
    background-color: rgb(238, 236, 236);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
  }

.container-row .inner-container{
    padding-left: 72px;
    padding-right: 72px;
    display: flex;
    margin-bottom: 32px;
}
  
.container-row .coursebox {
    flex: 1; /* Allow the coursebox to grow and shrink within the container */
    max-width: 33%;/* Limit the maximum width of the coursebox */
    box-sizing: border-box; /* Include padding in the width calculation */
    margin: 0 16px 0 24px;
    background-color: white;
    transition: transform 200ms; /* Animation */
}

.container-row .coursebox img {
    flex: 1; /* Allow the coursebox to grow and shrink within the container */
    max-width: 100%;/* Limit the maximum width of the coursebox */
    
}
.container-row .coursebox:hover {
    background-color: lightgrey;
    opacity: 0.9;
    transform: scale(1.02);
}
.container-row .coursebox h3, p{
    margin-left: 16px;
}

.container-row .coursebox h3{
    font-weight: bold;
    color: rgb(74, 74, 74);
    margin-top: 16px;
    margin-bottom: 8px;
}

.section3-mobile{
    display: none;
    margin-bottom: 32px;
}

.section3-mobile button{
    background-color: rgb(238, 236, 236);
    color: rgb(74, 74, 74);
    font-size: large;
    margin: 4px 16px;
    text-align: left;
    padding: 16px;
}

/* Section Four */
.section4{
    text-align: center;
    background-color: white;
    color:rgb(74, 74, 74);
    padding: 32px 0;
}

.section4-content .box-left{
    margin-top: 0;
}
.section4-content .smallbox-1{
    padding: 0 16px;
}

.section4-content{
margin-bottom: 32px;
}
.section4-content .smallbox-1{
    background-color: lightgrey;
}

/* Footer */
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 10px;
    border-top: 1px solid lightgrey;
    padding-top: 16px
}

footer p{
    margin: 0;
}

footer a{
    text-decoration: none;
    color: black;
}
footer .box-left{
    margin-left: 24px;
}
footer .box-right{
    margin-right: 24px;
    text-align: right;
}
@media (max-width: 768px) {
    .container-1 {
        flex-wrap: wrap; 
        width: 100%;
        justify-content: center;
    }
    .container-1 img{
        margin: 0 0 32px 0;
        width: 100%;
        
    }
    .container-1 .textbox-1{
        padding-right: 0;
        margin-right: 16px;
    }
    .container-1 button{
        width: 100%;
    }
    .nav-links, nav .nav-title{
        display: none;
    }
    nav .icons{
        width: 100%;
        display: flex;
    }
    nav .mobile-icons{
        display: flex;
    }
    .container-2 .box-left{
        width: 0;
        padding: 0;
    }
    .container-2 .box-left img, .container-2 .box-left h2, .container-2 .box-left h5, .container-2 .box-left h6{
        display: none;
    }
    .container-2 .box-right{
        width: 100%;
    }
    .container-2 .box-right .smallbox-1, .smallbox-2, .smallbox-3{
        display: flex;
        flex-direction: column;
        background-color: white;
    }
    .container-2 .box-right .fullscreen img{
        display: none;
    }
    .container-2 .box-right .mobile img{
        display: flex;
        width: 100%;
    }
    .smallbox-1, .smallbox-2,.smallbox-3{
        border: none;
        margin-bottom: 48px;
    }
    .container-2 h3, .container-2 p{
        margin-top: 10px;
        margin-bottom: 0;
    }
    .section3{
        background-color: white;
        padding-top: 32px;
        padding-bottom: 16px;
        border-top: 1px solid lightgrey;
    }
    .section3 h2{
        padding: 0;
        margin: 0;
    }
    .container-row{
        display: none;
        background-color: white;
    }
    .section3-mobile{
        display: flex;
        flex-direction: column;
    }
    
    .section4{
        border-top: 1px solid lightgrey;
    }
    .section4-content .box-right{
        display: none;
    }

    .section4-content .box-left{
        width: 100%;
        padding: 0;
    }
    footer .box-right{
        display: none;
    }
   
}
