*{
    border: 1px solid red;
    font-family: "Work Sans";
}
nav{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    height: 64px;
    background-color: white;

}

nav .company{
    font-size: 32px;
    margin-left: 24px;
    height: 64px;
    display: flex;
    align-items: center;
}

nav .company img{
    height: 40px;
}
.nav-links{
    display: inline-flex;
    align-items: center;
    margin-right: 24px;
}

.nav-links a{
    float: right;
    text-decoration: none;
    padding: 0 16px;
    color: black;
}

.container-1{
    display: flex;
    background-color: lightgrey;
}

.container-1 img{
    width:60%;
    margin: 32px 24px;
}

.container-1 .textbox-1 {
    display: flex; /* Use flexbox to create a flex container */
    flex-direction: column; /* Stack items in a column */
    text-align: left;
    padding-right: 10%;
    justify-content: center;
    margin-left: 16px;
    color: rgb(74, 74, 74)

}

.container-1 .textbox-1 h1{
    margin: 0;
}

.container-1 .textbox-1 h3{
    font-weight: normal;
    margin-top: 32px;
}

@media (max-width: 768px) {
    .container-1 {
        flex-wrap: wrap; 
    }
    .nav-links, nav .company p{
        display: none;
    }
}