*{
  /*  border: 1px solid red;*/
    font-family: "Work Sans";
    font-size: 16px;
}
a{
    text-decoration:none;
}
body{
    margin: 0;
}

h1{
    margin: 0;
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.3rem;
}
h5{
    font-weight: normal;
    font-size: 1.2rem;
}

/* Navigation bar */
nav{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: white;
    color: black;
    z-index: 1;
    box-shadow: 0 2px 8px -3px rgba(0, 0, 0, 0.1);
 }

nav .icons{
    font-size: 2rem;
    margin: 0 1.5rem;
    height: 4rem;
    display: none;
    align-items: center;
    justify-content: space-between;
    
}

nav .icons img{
    height: 34px;
}

nav .mobile-icons{
    display: none;
}

nav .nav-title{
    display: flex;
    align-items: center;
    font-size: x-large;
    justify-content: flex-start;
    text-transform: uppercase;
    margin-left: 1.5rem;
}

nav #Academy h3{
    font-weight: normal;
    font-size: 1.5rem;
}
nav #Colmar h3{
    font-weight: bold;
    font-size: 1.5rem;
}
.nav-links{
    display: inline-flex;
    align-items: center;
    margin-right: 1.5rem;
}

.nav-links a{
    padding-left: 1rem;
    font-size: 1rem;
    color: black;
}
.nav-links a:hover{
    color: cornflowerblue
} 
/* Hero section */

.container-1{
    display: flex;
    background-color: lightgrey;
    margin-bottom: 2rem;
}

.container-1 img{
    width:60%;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
.container-1 button{
    padding: 8px 0;
    height: 50px;
    border-radius: 5px;
    font-size: medium;
}
.container-1 .textbox-1 {
    display: flex; /* Use flexbox to create a flex container */
    flex-direction: column; /* Stack items in a column */
    text-align: left;
    padding-right: 4rem;
    padding-bottom: 2rem;
    justify-content: center;
    color: rgb(74, 74, 74);
    margin-left: 1rem;
}
.container-1 p{
    margin-left: 0;
}
button {
    border: transparent;
    color: white;
    background-color: rgb(74, 74, 74);
    padding: 8px 0;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(101, 101, 101);
    cursor: pointer;
}
/* Information about the Academy */
.container-2 a, p{
    color: rgb(74, 74, 74);
    font-weight: normal;
}
.container-2 h6{
    font-size: 0.8rem;
    margin-top: 1.5rem;
}
.container-2{
    display: flex;
    padding-bottom: 2rem;
}

.container-2 .box-left{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 0 1.5rem;
    color: rgb(74, 74, 74);
}
.container-2 .box-right {
    display: flex; /* Use flexbox to create a flex container */
    flex-direction: column; /* Stack itrems in a column */
   width: 40%;
    
}

.container-2 .box-right .mobile img{
    display: none;
}
.container-2 .box-right a{
    color: cornflowerblue;
}
.container-2 .box-right h3{
    color:rgb(74, 74, 74);
}
.container-2 h5{
    display: flex;
    margin: 0;
}

.smallbox-1, .smallbox-2, .smallbox-3{
  padding: 0 1rem;
  display: flex;
  color: rgb(74, 74, 74);
  border: 1px solid lightgrey;
}

.smallbox-1 .fullscreen img, .smallbox-2 .fullscreen img, .smallbox-3 .fullscreen img{
 width: 100%;
 height: auto;
 padding-top: 1rem;
 padding-bottom: 1rem;
}

.smallbox-3{
    background-color: lightgrey;
}

.smallbox-1:hover, .smallbox-2:hover, .smallbox-3:hover{
    background-color: rgb(216, 217, 229);
} 
.container-2 .text{
    padding-left: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-2 h3{
    margin: 8px 0;
}
.container-2 .box-right h3{
    font-weight: 550;
}
.container-2 p{
    margin: 8px 0;
}

/* Courses */
.courses-container{
    padding-bottom: 2rem;
    background-color: rgb(238, 236, 236);
}
.section3{
    text-align: center;
    background-color: rgb(238, 236, 236);
    color:rgb(74, 74, 74);
    padding: 2rem 0;
}

.container-row {
    background-color: rgb(238, 236, 236);
    display: flex;
    justify-content: center;
   width: 100%;
  }

.container-row .inner-container{
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
}
.container-row .coursebox{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-right: 1rem;
    margin-left: 1rem;
} 
.container-row img{
    width: 100%;
}
.container-row .coursebox{
    background-color: white;
}

.container-row .coursebox:hover {
    background-color: lightgrey;
    opacity: 0.9;
    transform: scale(1.02);
}

.container-row .coursebox h3, p{
    margin-left: 1rem;
    margin-right: 1rem;
}

.container-row .coursebox h3{
    font-weight: 550;
    color: rgb(74, 74, 74);
}

.section3-mobile{
    display: none;
    margin-bottom: 2rem;
}

.section3-mobile button{
    background-color: rgb(238, 236, 236);
    color: rgb(74, 74, 74);
    font-size: large;
    margin: 0.5rem 1rem;
    text-align: left;
    padding: 1rem;
}

/* Section Four */
.section4{
    text-align: center;
    background-color: white;
    color:rgb(74, 74, 74);
    padding: 2rem 0;
}

.section4-content .box-left{
    margin-top: 0;
}
.section4-content .smallbox-1{
    padding: 0 1rem;
}

.section4-content{
margin-bottom: 2rem;
}
.section4-content .smallbox-1{
    background-color: lightgrey;
}
.section4-content .smallbox-1:hover{
    background-color: rgb(216, 217, 229);
} 

/* Footer */
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-top: 1px solid lightgrey;
    padding-top: 1rem
}

footer p{
    margin: 0;
    font-size: 0.8rem;
}

footer a{
    color: black;
    padding: 1rem;
    font-size: 0.8rem;
}
footer .box-left{
    margin-left: 1.5rem;
}
footer .box-right{
    margin-right: 1.5rem;
    text-align: right;
}
@media (max-width: 768px) {
    html{
        font-size: 12px;
    }
     /* Navigation */
     .nav-links, nav .nav-title{
        display: none;
    }
    nav .icons{
        width: 100%;
        display: flex;
    }
    nav .mobile-icons{
        display: flex;
    }
    /* Hero section */
    .container-1 {
        flex-wrap: wrap; 
        width: 100%;
        justify-content: center;
    }
    .container-1 img{
        margin: 0 0 2rem 0;
        width: 100%;
        
    }
    .container-1 .textbox-1{
        padding-right: 0;
        margin-right: 1rem;
    }
    .container-1 button{
        width: 100%;
    }

    /* Academy information */
    .container-2 .box-left{
        width: 0;
        padding: 0;
    }
    .container-2 .box-left img, .container-2 .box-left h2, .container-2 .box-left h5, .container-2 .box-left h6{
        display: none;
    }
    .container-2 .box-right{
        width: 100%;
    }
    .container-2 .box-right .smallbox-1, .smallbox-2, .smallbox-3{
        display: flex;
        flex-direction: column;
        background-color: white;
    }
    .container-2 .box-right .fullscreen img{
        display: none;
    }
    .container-2 .box-right .mobile img{
        display: flex;
        width: 100%;
    }
    .smallbox-1, .smallbox-2,.smallbox-3{
        border: none;
        margin-bottom: 2.5rem;
    }
    .container-2 .text{
        padding-left: 0;
    }
    .container-2 .box-left h3, .container-2 .box-left p{
        margin-top: 1rem;
        margin-bottom: 0;
        display: none;
    }
    .container-2 .box-right h3{
        font-weight: 550;
    }

    /* Courses */
    .courses-container{
        background-color: white;
    }
    .section3{
        background-color: white;
        padding-top: 2rem;
        padding-bottom: 1rem;
        border-top: 1px solid lightgrey;
        width: 100%;
    }
    .section3 h2{
        padding: 0;
        margin: 0;
    }
    .container-row .inner-container{
        background-color: white;
        
        flex-direction: column;
        padding: 0;
        width: 100%;
        align-items: center;
        margin-bottom: 0;
    }
    .container-row img, .container-row p{
        display: none;
    }
    .container-row .inner-container .coursebox{
        width: 100%;
        
    }
    .container-row h3{
        background-color: rgb(238, 236, 236);
        padding: 1rem;
        margin: 0.5rem 1rem;
        border-radius: 5px;
    }
    .container-row h3:hover{
        background-color: lightgrey;
    }
    .container-row .coursebox:hover {
        background-color: white;
        opacity: 1;
        transform: scale(1);
    }
    /* Thesis exhibit */
    .section4{
        border-top: 1px solid lightgrey;
    }
    .section4-content .box-right{
        display: none;
    }

    .section4-content .box-left{
        width: 100%;
        padding: 0;
    }
    footer .box-right{
        display: none;
    }
   
}
